<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Sad to see you leave!</title>

        <link rel="stylesheet" href="css/deletefeedback.css"/> 
</head>
<body>
    
<%- include("partials/PS_header.ejs") %>
<%- include("partials/alert", { flash: flash }) %>


<main class="main-container">

    <div class="deleted-account-info">
        <h2>We are sad to see you go!</h2>
        
        <p>Your account has been successfully deleted. We hope to see you again in the future.</p>
        <button class="home-button" onclick="location.href='/'">Return to Home</button>
    </div>


</main>

<%- include("partials/PS_footer.ejs") %>


</body>
</html>